*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background-image {
    min-height: 100%;
    min-width: 300px;
        
    width: 100%;
    height: auto;
        
    position: fixed;
    top: 0;
    left: 0;

}

#modal-how-to-play {
    font-family: 'VT323';
}

#start-btn,
#how-to-play-btn {
    font-family: 'VT323';
    font-size: 48px;
    background-color: beige;
    z-index: 5;
    margin-top: 35rem;
    border-radius: 25px;
}

.modal-card-body {
    background-color: rgb(240, 219, 196);
}

.modal-card-body h2 {
    font-size: 24px;
}

