#commerce {
    margin-top: 2rem;
}

#standing-cat,
#happy-cat {
    margin-left: 1rem;
    width: 8rem;
    height: 13rem;
}

#fishing-cat {
    height: 10rem;
    margin-right: 5rem;
}

#lake {
    width: 80rem;
    height: 20rem;
}

#main-box {
    margin-top: 10rem;
}

#store {
    width: 5%;
    height: 10%;
    cursor: pointer;
    margin-left: 1rem;
}

#closed {
    width: 4.5%;
    cursor: pointer;
    margin-left: 1rem;
}

#cast {
    margin-top: 10rem;
}

.hidden {
    display: none;
}

#bite-reaction{
    position: inherit;
    font-size: 200%;
}

#reel-btn{
    position: absolute;
    left: 10%;
    top: 10%;
}