#commerce {
    margin-top: 2rem;
}

#standing-cat {
    position: absolute;
    margin-right: 90rem;
    height: 13rem;
}

#happy-cat {
    margin-left: 1rem;
    height: 13rem;
}

#fishing-cat {
    height: 13rem;
    margin-right: 80rem;
    position: absolute;
    z-index: 1;
}

#lake {
    width: 80rem;
    height: 20rem;
    position: relative;
}

#main-box {
    margin-top: 10rem;
}

#store {
    width: 5%;
    height: 10%;
    cursor: pointer;
    margin-left: 1rem;
}

#closed {
    width: 4.5%;
    cursor: pointer;
    margin-left: 1rem;
}

#cast {
    margin-top: 10rem;
}

.hidden {
    display: none;
}

#bite-reaction{
    position: inherit;
    font-size: 200%;
}

#reel-btn{
    position: absolute;
    left: 10%;
    top: 10%;
}

#store-cat{
    height: 13rem;
}

.has-text-centered {
    font-size: xx-large;
}